server:
  port: 10088

spring:
#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: false
#      path: /h2-console
  datasource:
    # H2 Database 配置
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:D:/db/dodo
    username: admin
    password: 123456
  servlet:
    multipart:
      max-file-size: 5MB



mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      table-prefix: dodo_



## 自定义配置
dodo:
  # 上传文件存储根目录
  fileStorePath: F:/